<DOCTYPE HTML>
    <html>
   <div> 
    <h1>My Posts:</h1>


<script>
    const (MyPostsWithUsername) : userIdPost;
    const (MyPostsWithoutUsername) : (false);
    console.log('My Posts:');
    case (MyPostsWithUsername !== true); {
        console.log("User invalid!")
    }
    break;
    case (MyPostsWithUsername == true); {
        console.log('Sucessfull login in MyPosts');
    }
    break ;
    case 3 (MyPostsWithUsername ==true && userIdPost == true); {
        console.log('sucessfully reloaded page after comment')
    } else {
        console.log(erroCode(404));
    }
    break ;
    Default : console.log(ErrorCode(<=399 && >=400));
    DefaultServerLog (ErrorCode(400));
    
</script>
    </html>